@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

@layer base {
  h1 {
    @apply font-display text-[3.4rem] font-semibold uppercase leading-[85%] tracking-tight xs:text-[4rem] sm:text-[4.8rem] md:text-[5.9rem] lg:text-[8.4rem] xl:text-[10rem] 2xl:text-[11rem] fhd:text-[13rem];
  }
  h2 {
    @apply font-display text-[3rem] leading-[85%] tracking-tight xs:text-[3.3rem] sm:text-[4.6rem] md:text-[5.3rem] lg:text-[7rem] xl:text-[8.2rem] 2xl:text-[8.9rem] fhd:text-[10.2rem];
  }
  h3 {
    @apply font-display text-[3.2rem] font-semibold uppercase leading-[80%] tracking-tight sm:text-[3.2rem] md:text-[4rem] lg:text-[5rem] xl:text-[6.3rem] 2xl:text-[7rem] fhd:text-[8rem];
  }
  h4 {
    @apply font-display text-[3rem] font-[550] uppercase leading-[100%] tracking-tight xs:text-[3.2rem] md:text-[5rem] lg:text-[6rem] xl:text-[7rem] fhd:text-[9rem];
  }
  h5 {
    @apply text-[1.5rem] font-[450] leading-[125%] tracking-tight md:text-[2rem] lg:text-[2.8rem] xl:text-[2.3rem] 2xl:text-[2.6rem] fhd:text-[3.2rem];
  }
  h6 {
    @apply font-body text-[4rem] font-medium leading-7;
  }
  p {
    @apply font-body text-[1rem] font-normal leading-6 tracking-wider xs:text-[1.1rem] sm:text-[1rem] md:text-[1.2rem] lg:text-[1.7rem] lg:leading-8 xl:text-[1.2rem] 2xl:text-[1.3rem] fhd:text-[1.6rem];
  }
  ul {
    @apply flex w-full items-center justify-between text-sm font-[450] uppercase xs:text-base md:text-lg lg:text-2xl xl:text-sm fhd:text-lg;
  }
}

.text-container {
  @apply mt-20 px-2 md:mt-36 md:px-10 lg:mt-44 lg:px-14 xl:mt-52 xl:px-32;
}

.dim-text {
  @apply text-[1.1rem] font-[400] leading-6 text-gray-400 xs:text-[1.2rem] md:text-[1.4rem] lg:text-[2rem] lg:max-xl:leading-9 xl:text-[1.6rem] xl:leading-8 fhd:text-[1.8rem];
}

/* overlay texture */
.layout:before {
  background-image: url(/bg-grain.webp);
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100vh;
  inset: 0;
  mix-blend-mode: multiply;
  pointer-events: none;
  position: fixed;
  width: 100vw;
}
